extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li
      a(href="/testAPI") API test
    li
      a(href="/users") users (test)
    li
      a(href="react/at_aud") at_aud
    li
      a(href="react/at-work") at-work
    li
      a(href="at-work/handle_save_lesson") at-work handle_save_lesson
  
